body{
    background-image:url("so.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}
.nav{
    height: 80px;
    width: 100%;
    opacity: 0.9;
    margin-top: -10px;
    display: flex;
    background-color: gray;
}
.nav > div{
    font-family: Brush Script MT;
    display: flex;
    font-size: 60px;
    align-items: center;
}
#div1{
    margin-left: auto;
}
#div2{
    margin-right: auto;
}
.main{
    margin-top: 200px;
    /* margin-top: 200px;
    margin-left: 500px; */
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.625),rgba(0, 0, 0, 0.488));
    border-radius: 30px;
    width: 500px;
    font-family: f;
    font-size: 30px;
    position: relative;
    animation-name: move;
    animation-iteration-count: 1;
    animation-duration: 5s;
    margin-left: 500px;
    box-shadow: 2px 3px;
}
@keyframes move {
    0%{
        margin-left: 100px;
    }
    100%{
        margin-left: 500px;
    }
}
button{
    font-family:cursive;
    border-color: black;
    border-width: 3px;
    background-color: rgba(240, 248, 255, 0.662);
}

#uranus1{
    height: 30px;
}